@using Raw_Vidly_App.Models
@model RequestViewModel
@{
    ViewBag.Title = "CustomerMovieId";
    List<Movie> Movies = ViewBag.Moviess;

}

<h2>CustomerMovieId</h2>

@{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Genere</th>
            <th>Price</th>
            <th>Release Date</th>
            <th>Rent</th>
        </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>

}